#cloud-config
users:
  - name: ansible
    groups: sudo
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHfKgDEt05hQqYe56FU4UyJmj5qW30GPVju+n/40B/pk zol@DESKTOP-UKS1HHC